*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    text-align: center;
}

.titleh2 {
    color: #fff;
    margin: 0 2.5rem;
}
         
.formBtn button{
    background-image: linear-gradient(to right, #DC2424 0%, #4A569D  51%, #DC2424  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    border: none;
  }

  .formBtn button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

form input {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid red;
    transition: all 0.3s ease;
    padding: 0 0.5rem;
    margin: 1.25rem 0;
}

form input:focus {
    outline: none;
    border-color: blue;
    border-radius: 0;
}

.viewWrapper {
    display: flex;
    margin: 1.5rem 0;
    flex-wrap: wrap;
    justify-content: center;
}

.viewWrapper div {
    margin: 0 2.5rem 3rem;
    background: rgba(0, 0, 0, 0.8);
    min-width: 250px;
    text-align: center;
    height: 400px;
    overflow-y: scroll;
}

/*SCROLLBAR*/
.viewWrapper div::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
.viewWrapper div::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
.viewWrapper div::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
  }
  
  /* Handle on hover */
.viewWrapper div::-webkit-scrollbar-thumb:hover {
    background: #555;
  } 
/*SCROLLBAR*/ 

.viewWrapper div ol {
    margin: 1.5rem 0;
}

.viewWrapper div ol li {
    list-style-position: inside;
    padding: 1rem 0;
    color: #fff;
}

.remove {
 font-weight: bold;   
}

.remove:hover {
    text-decoration: line-through;
    font-style: italic;
    opacity: 0.7;
    color: red;
    cursor: pointer;
}

.viewWrapper div ol li:nth-child(even) {
    background: rgba(30, 30, 30, 1);
}

.viewWrapper h2 {
    color: #fff;
}

.notiAlert {
    background: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5vh;
    left: 5vw;
    padding: 0.25rem 0.75rem;
    border-radius: 5px;
    transform: translateX(-25vw);
    transition: 0.5s;
}

.notiAlert i {
    width: 15%;
    margin: 0 0.75rem 0 0;
}

.notiActive {
    transform: translateX(0);
    transition: 0.5s;
}

footer p {
    color: #fff;
}

.copyright {
    color: #fff;
}

.copyright:hover {
    opacity: 0.5;
    text-decoration: none;
}